.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 90px 48px 0 48px;
}
@media screen and (max-width: 1024px){
    .cover {
        padding: 90px 0 0 0;
    }
}
@media screen and (max-width:425px) {
    .cover {
        padding-top: 66px;
    }
}
