.content__section {

    margin: auto;
    padding: 0;
    border: 2px solid red;
}
@media screen and (max-width:1024px) {
    .content__section {
        max-width: calc(100% - 48px*2);
    }
}
@media screen and (max-width:768px) {
  .content__section {
      max-width: 100%;
  }
}

